* {
  margin: 0;
  padding: 0
}

.App {
  width: 100%;
}

h1 {
  font-size: 2.5rem !important;
}

.--content-width {
  max-width: 936px !important;
}

.--article-width {
  max-width: 600px !important;
}


/* Header */
.site-header {
  color: rgb(255, 254, 254);
  background-color: #fa5252;
  width: 100vw !important;
}

.site-header__link {
  color: rgb(255, 254, 254);
  text-decoration: none;
}

.site-header__link:hover {
  color: rgb(255, 254, 254);
}


/* Navbar */
.site-navbar {
  color: rgb(255, 254, 254) !important;
  background-color: #fa5252 !important;
}

.site-navbar__link {
  color: rgb(255, 254, 254) !important;
}

.site-navbar__link:hover {
  color: rgb(59, 59, 59) !important;
}


/* Article List */
.article-list {
  list-style: none;
  padding: 0;
}


/* Article List Item */
.article-list-item {
  border-bottom: 1px solid #bdbdbd;
  padding: 1rem 0 1rem 0;
  height: 100%;
  margin-bottom: 1rem ;
  text-decoration: none;
}

.article-list-item h2, b, a {
  font-size: 1.3rem;
  color: black;
  text-decoration:none !important;
}

.article-list-item p {
  color: rgb(85, 85, 85);
  font-size: 0.8rem;
}


/* Article */

.article-topic {
  display: inline-block;
  color: #ffffff;
  background-color: #fa5252;
  padding:  0 10px;
  margin: 1rem 0;
}

.article-sub-heading {
  color: #787878;
  margin: 0;
}

.--date-formatting {
  font-size: 0.8rem;
  margin: 0.5rem 0;
}

.article-image-caption {
  color: #787878;
  font-size: 0.8rem;
}

/* Comment List */

.comments-section {
  margin-top: 2rem;
}

.comment-list {
  font-size: 0.8rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.comment-list-item {
  border-top: 1px solid#bdbdbd;
  padding: 1rem 0;
} 

.comment-list-item__username, .comment-list-item__username p {
  margin: 0;
}

.comment-list-item__date {
  color: #787878;
  font-size: 0.7rem;
}

.no-comment-message {
  color: #787878;
  font-size: 0.7rem;
}

.votes-button  {
  color: #fa5252 !important;
  background-color: rgb(255, 254, 254) !important;
  border: 2px solid #fa5252 !important;
  border-radius: 0 !important;
  padding: 0.2rem 0.5rem !important;
}

.votes-button:hover {
  color:rgb(255, 254, 254) !important;
  background-color: #fa5252 !important;
  border: 2px solid #fa5252 !important;
}

.votes-button:active {
  background-color: #c23e3e !important;
  border-color: #c23e3e !important;
}

.votes-success-message {
  font-weight: bold;
  color: #339501;
  font-size: 0.75rem;
  margin-top: 0.5rem;
  padding: 0;
}

.votes-error-message {
  font-weight: bold;
  color: #b72b2b;
  font-size: 0.75rem;
  margin-top: 0.5rem;
  padding: 0;
}

